#addNewItem {
  height: 100vh;
  background-color: $primary;
  overflow: hidden;
}

.addItem {
  color: $bgLight;
  font-size: 2.3rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 2.5rem;

  input {
    outline: none;
    border: 1px solid $bgLight;
    border-radius: 0.5rem;
    background-color: $primary;
    margin: 1.2rem 0;
    height: 4rem;
  }
  textarea {
    background-color: $primary;
    border: 1px solid $bgLight;
    border-radius: 0.5rem;
  }
  select {
    background: #a16a5e;
    border: 1px solid #edd5bb;
    border-radius: 3px;
    width: 120%;
    height: 3vh;
    outline: none;
    color: #edd5bb;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 999;
    padding: 2px 0px 2px 5px;
  }
}

.addItemTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.container_addItem {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.type_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addItemType,
.addItemPrice {
  display: flex;
  flex-direction: column;
}
figure {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 400;
  border: 2px dashed $bgLight;
  border-radius: 1rem;
  position: relative;
  figcaption {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
  }
}
i {
  font-size: 10rem;
}

.imageURL {
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;
  }
}
.buttonsNewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#addNewItemBtn,
#cancelNewItemBtn {
  @include buttonPrimary;
  margin-top: 3rem;
  width: 100%;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-0.5rem);
  }
  &:active {
    transform: translateY(0rem);
  }
}

#addNewItemBtn {
  background-color: $primaryContrast;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-right: 5%;
}
#cancelNewItemBtn {
  background-color: $bgLight;
  color: $textDef;
}

#checkPublish[type="checkbox"] {
  transform: scale(2);
}
.addItemTitle__input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    margin-right: 2rem;
  }
}

// .snapshotNewItem {
//   transition: all 0.3s ease;
//   &:hover {
//     transform: scale(1.02);
//   }
// }
.imageFromCamera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top;
  background-size: cover;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 999;
  display: none;
}

#canvas {
  display: none;
}
#photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titleValidation {
  border: 1px solid $primaryBlue !important;
}
.popupTitle,
.popupType,
.popupPrice,
.popupImg {
  position: absolute;
  margin-top: 7.5%;
  margin-left: 2%;
  color: $primaryBlue;
  display: none;
  font-size: 1.8rem;
}
