.artistFirst {
  min-height: 100vh;
  background-color: $normal;
}
.navbar,
.navbar2 {
  visibility: hidden;
  opacity: 0;
  height: 0vh;
  background-color: $primary;
  width: 100%;
  position: fixed;
  top: 7vh;
  font-size: 4rem;
  transform-origin: top;
  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    &--items {
      &--tag {
        display: block;
        color: $normal;
        padding: 5%;
        &:hover {
          background-position: 100%;
          color: $primary;
          transform: translateX(10px);
        }
        &:link,
        &:visited {
          display: inline-block;
          font-weight: bold;
          color: $bgLight;
          border-radius: 0.5rem;
          padding: 1rem 2rem;
          text-decoration: none;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            rgb(224, 150, 134) 50%
          );
          transition: all 0.4s;
          background-size: 230%;
        }
      }
    }
  }
}

.hidden {
  height: 0vh;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.visible {
  height: 20vh;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.artContainer {
  max-height: 35vh;
  padding: 3rem;

  // background-color: $primary;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__sold,
  &__total {
    width: 50%;
    height: 12vh;
    background-color: $primary;
    padding: 2rem;
    font-size: 2rem;
    color: $bgLight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    &__rate {
      padding: 1rem;
      font-size: 6rem;
      font-weight: 600;
    }
    &__title {
      font-weight: 300;
    }
  }
  &__total {
    margin-left: 5%;
    &__title {
      font-weight: 300;
    }
    &__rate {
      padding: 1rem;
      font-size: 6rem;
      font-weight: 600;
    }
  }
}

.liveAuct {
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  background-color: $primaryContrast;
  color: $bgLight;
  padding: 2rem;
  margin-top: 3rem;
  &__title {
    font-weight: 300;
  }
  &__price {
    font-size: 6rem;
    font-weight: 600;
    padding: 1rem;
  }
  &__curBid {
    font-size: 3rem;
    font-weight: 300;
  }
}

.historyChart {
  overflow-y: scroll;
  min-height: 30vh;
  background-color: $bgLight;
}

.history {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: $primary;
  h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  &__btns {
    display: flex;
    justify-content: space-between;

    &--7days,
    &--14days,
    &--1month,
    &--1year {
      color: $bgLight;
      padding: 1rem 2.5rem;
      background-color: $primary;
      border-radius: 0.4rem;
      font-size: 1.8rem;
      outline: none;
      border: none;
      margin-top: 2rem;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        transform: translateY(-0.5rem);
      }
      &:active,
      &:focus {
        transform: translateY(0rem);
      }
    }
  }
}
