#auction {
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}
.auction-container {
  height: 93vh;
  background-color: $bgLight;
  font-size: 5rem;
}
#bidAmount {
  height: 3vh;
  outline: none;
  border: none;
  background: $primary;
  border-radius: 0.5rem;
  border-bottom: 2px solid $textWhite;
  color: $textWhite;
}
#confirmBid {
  @include buttonPrimary;
  background-color: $primaryContrast;
  color: $textWhite;
  margin-left: 3rem;
  transition: all 0.15s ease;
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

#itemOnAuction {
  margin-top: 5rem;
  padding: 3%;
  letter-spacing: 1px;

  img {
    display: block;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }
}
.bidding ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: $primary;
  list-style-type: none;
  & li.my-bid {
    margin-right: 10rem;
  }
  & li.his-bid {
    margin-left: 5rem;
  }
}

.auctionItemArtist {
  font-size: 4rem;
  text-align: left;
  color: $primary;
  font-weight: 400;
}
.itemStartingPrice {
  font-size: 2rem;
  color: $primary;
  margin-top: 2rem;
}
.auctionItemTitle {
  font-size: 2rem;
  color: $textDef;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.auctionTimer {
  color: $primary;
  font-size: 3rem;
  position: absolute;
  border-radius: 1rem;
  top: 20%;
  right: 3%;
  box-shadow: 0px 0px 5px 1px rgba($bgDark, 0.4);
  padding: 0.5rem 1rem;
}
.auctionTitle {
  p {
    display: inline-block;
    font-size: 5rem;
    color: darken($primaryBlue, 15);
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 15rem;
    box-shadow: 0px 0px 10px rgba($textMuted, 0.5);
  }
}

.bid-controls {
  display: flex;
  justify-content: center;
}
.auctionDone,
.whoWon {
  color: $primary;
  font-size: 4rem;
  text-transform: uppercase;
}
.auctionDone {
  margin: 5rem 0 2rem 0;
}
