section#camera-container {
  height: 100vh;
  background-color: $primary;
  @include navTemplate;
  overflow: hidden;
}

#startButton,
#switchButton,
#retakePhoto,
#addToCardBtn {
  background-color: $bgLight;
  color: $primary;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  bottom: 10%;
  // left: 50%;
}
#retakePhoto {
  left: 25%;
  transform: translate(-50%, 0%);
}
#switchButton {
  left: 75%;
  transform: translate(-50%, 0%);
}
#startButton {
  left: 50%;
  transform: translate(-50%, 0%);
}
#addToCardBtn {
  left: 50%;
  bottom: 23%;
  transform: translate(-50%, 0%);
}
#video {
  display: flex;
  margin: 0 auto;
  // transform: rotate(-90deg);
  // width: 100%;
  // height: 100%;
}
#startButton .fa-camera {
  padding: 3rem;
  transform: translate(-28%, -28%) scale(0.4);
}
.fa-retweet {
  padding: 3rem;
  transform: translate(-30%, -28%) scale(0.4);
}
.fa-plus {
  padding: 3rem;
  transform: translate(-25%, -28%) scale(0.5);
}

.retakePhoto,
.takePhoto,
.switchCamera,
.addToCard {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}
.retakePhoto {
  left: 25%;
}
.switchCamera {
  left: 75%;
  text-align: center;
}
.addToCard {
  bottom: 20%;
}

.camera {
  display: block;
  margin-top: 8rem;
}

#canvas {
  margin-top: 8rem;
}

#photo {
  position: absolute;
  top: 30%;
}
