.filter {
  background-color: $primary;
  height: 100vh;
  overflow: hidden;
  &__inner {
    font-size: 3rem;
    width: 100%;
    padding: 3rem 2rem;
    color: $bgLight;
    input {
      background-color: $primary;
      outline: none;
      border: 1px solid $bgLight;
      color: $normal;
      width: 20rem;
      height: 4vh;
      border-radius: 0.3rem;
      margin-bottom: 5%;
      font-size: 2rem;
      &::placeholder {
        color: $bgLight;
        font-size: 2rem;
        font-weight: 100;
      }
    }
    select {
      background-color: $primary;
      outline: none;
      border: 1px solid $bgLight;
      color: $bgLight;
      margin-bottom: 3rem;
      border-radius: 0.3rem;
      width: 20rem;
      height: 4vh;
    }

    &--title {
      margin-bottom: 3%;
    }
    &--titleParagraph {
      color: $normal;
      font-weight: 100;
      margin-bottom: 1%;
    }
    &--artist {
      margin-top: 5%;
      font-weight: 100;
      padding-bottom: 1%;
    }
    &--price {
      margin-top: 5%;
      margin-bottom: 5%;
      font-weight: 100;
    }
    &--prices {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
      input {
        font-size: 2rem;
      }
    }
    &--type {
      margin-top: 10%;
      font-weight: 100;
      margin-bottom: 2%;
    }
    #filterSubmitBtn {
      position: fixed;
      bottom: 0%;
      right: 0%;
      background-color: transparent;
      outline: none;
      border: none;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
    .maxPriceDiv,
    .minPriceDiv {
      label {
        margin-right: 1rem;
      }
    }
    .horisontalLine {
      width: 100%;
      height: 0.3rem;
      border-radius: 0.5rem;
      background-color: $bgLight;
    }
    #filterByType {
      margin-bottom: 3rem;
    }
  }
}

.filterBack {
  position: absolute;
  top: 12%;
  right: 3%;
  font-size: 5rem;
  font-weight: 100;
  transition: transform 0.3s ease-in-out;
  color: $normal;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.8);
  }
}
