@import "variables";
@include navTemplate;

.index {
  background-color: $bgLight;
  height: 100vh;
  position: relative;

  .icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .indexBtn {
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 27%;
    display: flex;
    align-items: flex-end;

    .artistBtn {
      text-align: center;
      width: 50%;
      margin: 0 auto;
      height: 30vh;
      text-decoration: none;
      color: $primary;
      background-color: $normal;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        // background-color: darken($normal, 5);
        color: darken($primary, 5);
        transform: translate(-50%, -50%) scale(1.05);

        z-index: 999;
      }
      #artistBtnSelect {
        position: absolute;
        top: 40%;
        left: 55%;
        background: $normal;
        border: 1px solid $primary;
        border-radius: 3px;
        width: 38%;
        outline: none;
        color: $primary;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 999;

        padding: 2px 0px 2px 5px;
      }

      h2 {
        padding-top: 4rem;
        display: inline-block;
        font-family: "Reenie Beanie";
        font-size: 5rem;
        font-weight: 100;
      }
    }
    .visitorBtn {
      position: absolute;
      top: 65%;
      left: 50%;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      height: 30vh;
      text-decoration: none;
      color: $bgLight;
      background-color: $primary;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      cursor: pointer;
      clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
      &:hover {
        background-color: darken($primary, 5);

        transform: translate(-50%, -50%) scale(1.05);

        z-index: 999;
      }
      h2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Reenie Beanie";
        font-size: 4rem;
        font-weight: lighter;
        white-space: nowrap;
      }
    }
  }
}
