.itemPage {
  background-color: $normal;
}
.itemPageContainer {
  margin-top: 5rem;
  &__addBtn {
    // height: 20vh;
    background-color: $bgLight;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $primary;
    padding: 2rem 2rem;
    p {
      border: 2px dashed $primary;
      padding: 5rem 14rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}
@include card;
.card-btns {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: $primary;
  .sendToAuctionBtn,
  .unpublishBtn,
  .removeBtn,
  .editBtn {
    background-color: $primaryBlue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    transition: all 0.2s ease;
    &:hover {
      transform: translateY(-0.5rem);
    }
  }
  .unpublishBtn {
    background-color: $primaryGreen;
  }
  .removeBtn {
    background-color: $primaryContrast;
  }
  .editBtn {
    background-color: $bgLight;
    color: $primary;
    font-weight: 600;
  }
}

.priceTag {
  position: absolute;
  bottom: 40%;
}
