@include navTemplate;

.listing {
  background-color: $normal;
  min-height: 100vh;
  @include card;

  &__filter {
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 9999;

    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}
