@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 24em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } ///1200px
  }
  @if $breakpoint == xl-screen {
    @media (min-width: 125em) {
      @content;
    } //2000+ px
  }
}

@mixin buttonPrimary {
  background-color: $primary;
  color: $bgLight;
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

@mixin navTemplate {
  .title {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgLight;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 9999;
    h1 {
      font-family: "Reenie Beanie", cursive;
      font-size: 4rem;
      color: $primary;
      font-weight: lighter;
      text-align: center;
    }
    .fa-bars {
      color: $primary;
      font-size: 5rem;
      font-weight: 300;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        font-weight: 800;
        color: darken($primary, $amount: 10);
      }
      &:active {
        font-weight: 100;
        color: darken($primary, $amount: 00);
        cursor: grabbing;
      }
    }
    .hammer {
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        transform: scale(1.1) translate(-50%, -50%);
      }
    }
    .secondPageLogo {
      position: absolute;
      top: 0;
      left: 0%;
      z-index: 999;
      .icon {
        width: 10vh;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@mixin card {
  .card {
    background-color: $bgLight;
    color: $bgLight;
    box-shadow: 0rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.3);
    margin-top: 5rem;
    position: relative;

    &__inner {
      padding: 2rem 2rem;
      &--artist {
        font-size: 4rem;
        font-family: "Reenie Beanie";
        font-weight: 500;
      }
      &--price {
        font-size: 2rem;
        position: absolute;
        right: 5%;
        top: 16vh;
        height: 2.5vh;

        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
      &--title {
        font-size: 1.8rem;
        font-weight: 500;
      }
      &--desc {
        font-size: 1.6rem;
        white-space: pre-wrap;
      }
      &--itemTitle {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    &__img {
      display: block;
      width: 100%;
      height: 15vh;
      object-fit: cover;
    }
  }
}
