$bgLight: #fcebd5;
$bgDark: #e09686;
$normal: #edd5bb;
$primary: #a16a5e;
$bgGray: #e5e5e5;
$primaryContrast: #d44c2e;
$primaryBlue: #1b59ac;
$primaryGreen: #1bac6f;
$textDef: #5a5a5a;
$textMuted: #b9b9b9;
$textWhite: #f8f8f8;
