@include navTemplate;

.visitor {
  height: 100vh;
  position: relative;
  background-color: $bgLight;
  overflow: hidden;
  &__carousel {
    // width: 60%;
    height: 40vh;
    margin: 0 auto;
    background-color: $normal;
  }
  &__imagesReverse {
    background-color: $normal;
  }
  &__images,
  &__imagesReverse {
    display: flex;
    width: 100%;
    height: 20vh;

    img {
      display: block;
      width: 100%;
      height: 15vh;
      margin: auto 5%;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.masterpiece {
  background: linear-gradient(to right, #fcebd5, #edd5bb);
  position: relative;
  height: 20vh;
  h2 {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    font-family: "Roboto";
    font-size: 4rem;
    color: $primary;
    font-weight: 500;
    width: 30rem;
  }
  button {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    @include buttonPrimary;
    &:hover {
      transform: scale(1.02) translateY(-45%);
      box-shadow: 1px 1px 5px $primary;
    }
  }
  svg {
    width: 100%;
    height: 20vh;
  }
}

.carousel {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__inner {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__body {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;

    &--left {
      width: 50%;
      text-align: center;
    }
    &--right {
      width: 50%;
    }
    &--img {
      position: absolute;
      left: 25%;
      transform: translate(-50%, -50%);
      border: 0.2rem solid $primary;
      border-radius: 50%;
      display: block;
      height: 7rem;
      width: 7rem;
    }
  }
  &__text--one {
    width: 50%;
    margin: 0 auto;
    background-color: $bgDark;
    color: $textWhite;
    font-size: 1.4rem;
    // padding: 5rem 0.5rem 2rem 0.5rem;
    padding: 15% 1% 2% 1%;
    font-weight: 400;
  }
  &__text--two {
    width: 50%;
    margin: 0 auto;
    font-size: 1.4rem;
    color: $primary;
    text-align: center;
  }
  .h-line {
    position: absolute;
    left: 50%;
    width: 0.22rem;
    border-radius: 50%;
    height: 20vh;
    background-color: darken($primary, 10);
  }
  &__arrows {
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    color: $primary;
    z-index: 999;
    #leftArrow,
    #rightArrow {
      cursor: pointer;
    }
  }
}
