@import "mixin";
@import "indexPage";
@import "variables";
@import "visitorFirstPage";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:regular);
@import "listing";
@import "filterPage";
@import "aristOne";
@import "itemPage";
@import "addNewItem";
@import "auction";
@import "cameraPage";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  // font-family: "Roboto";
  // font-family: "Reenie Beanie";
  // max-width: 415px;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(xl-screen) {
    font-size: 112.5%; //rem = 18px 18/16px = 112,5%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px. 9/16 = 50%
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px. 8/16 = 50%
  }
  @include respond(phone) {
    font-size: 43.75%; //1rem = 7px 7/16 = 43.75%
  }
}
// custom scroll
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

// custom scroll
.hammer {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
