@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:regular);
.title {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcebd5;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9999;
}

.title h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  color: #a16a5e;
  font-weight: lighter;
  text-align: center;
}

.title .fa-bars {
  color: #a16a5e;
  font-size: 5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title .fa-bars:hover {
  font-weight: 800;
  color: #81554b;
}

.title .fa-bars:active {
  font-weight: 100;
  color: #a16a5e;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.title .hammer {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title .hammer:hover {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.title .secondPageLogo {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 999;
}

.title .secondPageLogo .icon {
  width: 10vh;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.title .secondPageLogo .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.index {
  background-color: #fcebd5;
  height: 100vh;
  position: relative;
}

.index .icon {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.index .indexBtn {
  position: absolute;
  height: 60vh;
  width: 100%;
  top: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.index .indexBtn .artistBtn {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  height: 30vh;
  text-decoration: none;
  color: #a16a5e;
  background-color: #edd5bb;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.index .indexBtn .artistBtn:hover {
  color: #915f55;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  z-index: 999;
}

.index .indexBtn .artistBtn #artistBtnSelect {
  position: absolute;
  top: 40%;
  left: 55%;
  background: #edd5bb;
  border: 1px solid #a16a5e;
  border-radius: 3px;
  width: 38%;
  outline: none;
  color: #a16a5e;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 999;
  padding: 2px 0px 2px 5px;
}

.index .indexBtn .artistBtn h2 {
  padding-top: 4rem;
  display: inline-block;
  font-family: "Reenie Beanie";
  font-size: 5rem;
  font-weight: 100;
}

.index .indexBtn .visitorBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  height: 30vh;
  text-decoration: none;
  color: #fcebd5;
  background-color: #a16a5e;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}

.index .indexBtn .visitorBtn:hover {
  background-color: #915f55;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  z-index: 999;
}

.index .indexBtn .visitorBtn h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Reenie Beanie";
  font-size: 4rem;
  font-weight: lighter;
  white-space: nowrap;
}

.title {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcebd5;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9999;
}

.title h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  color: #a16a5e;
  font-weight: lighter;
  text-align: center;
}

.title .fa-bars {
  color: #a16a5e;
  font-size: 5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title .fa-bars:hover {
  font-weight: 800;
  color: #81554b;
}

.title .fa-bars:active {
  font-weight: 100;
  color: #a16a5e;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.title .hammer {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title .hammer:hover {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.title .secondPageLogo {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 999;
}

.title .secondPageLogo .icon {
  width: 10vh;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.title .secondPageLogo .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.visitor {
  height: 100vh;
  position: relative;
  background-color: #fcebd5;
  overflow: hidden;
}

.visitor__carousel {
  height: 40vh;
  margin: 0 auto;
  background-color: #edd5bb;
}

.visitor__imagesReverse {
  background-color: #edd5bb;
}

.visitor__images, .visitor__imagesReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
}

.visitor__images img, .visitor__imagesReverse img {
  display: block;
  width: 100%;
  height: 15vh;
  margin: auto 5%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.visitor__images img:hover, .visitor__imagesReverse img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.masterpiece {
  background: -webkit-gradient(linear, left top, right top, from(#fcebd5), to(#edd5bb));
  background: linear-gradient(to right, #fcebd5, #edd5bb);
  position: relative;
  height: 20vh;
}

.masterpiece h2 {
  position: absolute;
  top: 50%;
  left: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Roboto";
  font-size: 4rem;
  color: #a16a5e;
  font-weight: 500;
  width: 30rem;
}

.masterpiece button {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #a16a5e;
  color: #fcebd5;
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.masterpiece button:hover {
  -webkit-transform: scale(1.02) translateY(-45%);
          transform: scale(1.02) translateY(-45%);
  -webkit-box-shadow: 1px 1px 5px #a16a5e;
          box-shadow: 1px 1px 5px #a16a5e;
}

.masterpiece svg {
  width: 100%;
  height: 20vh;
}

.carousel {
  height: 30vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__inner {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__body--left {
  width: 50%;
  text-align: center;
}

.carousel__body--right {
  width: 50%;
}

.carousel__body--img {
  position: absolute;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.2rem solid #a16a5e;
  border-radius: 50%;
  display: block;
  height: 7rem;
  width: 7rem;
}

.carousel__text--one {
  width: 50%;
  margin: 0 auto;
  background-color: #e09686;
  color: #f8f8f8;
  font-size: 1.4rem;
  padding: 15% 1% 2% 1%;
  font-weight: 400;
}

.carousel__text--two {
  width: 50%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: #a16a5e;
  text-align: center;
}

.carousel .h-line {
  position: absolute;
  left: 50%;
  width: 0.22rem;
  border-radius: 50%;
  height: 20vh;
  background-color: #81554b;
}

.carousel__arrows {
  position: fixed;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 5rem;
  color: #a16a5e;
  z-index: 999;
}

.carousel__arrows #leftArrow,
.carousel__arrows #rightArrow {
  cursor: pointer;
}

.title {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcebd5;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9999;
}

.title h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  color: #a16a5e;
  font-weight: lighter;
  text-align: center;
}

.title .fa-bars {
  color: #a16a5e;
  font-size: 5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title .fa-bars:hover {
  font-weight: 800;
  color: #81554b;
}

.title .fa-bars:active {
  font-weight: 100;
  color: #a16a5e;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.title .hammer {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title .hammer:hover {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.title .secondPageLogo {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 999;
}

.title .secondPageLogo .icon {
  width: 10vh;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.title .secondPageLogo .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.listing {
  background-color: #edd5bb;
  min-height: 100vh;
}

.listing .card {
  background-color: #fcebd5;
  color: #fcebd5;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 5rem;
  position: relative;
}

.listing .card__inner {
  padding: 2rem 2rem;
}

.listing .card__inner--artist {
  font-size: 4rem;
  font-family: "Reenie Beanie";
  font-weight: 500;
}

.listing .card__inner--price {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 16vh;
  height: 2.5vh;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.listing .card__inner--title {
  font-size: 1.8rem;
  font-weight: 500;
}

.listing .card__inner--desc {
  font-size: 1.6rem;
  white-space: pre-wrap;
}

.listing .card__inner--itemTitle {
  font-size: 2rem;
  font-weight: 500;
}

.listing .card__img {
  display: block;
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.listing__filter {
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 9999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listing__filter:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.filter {
  background-color: #a16a5e;
  height: 100vh;
  overflow: hidden;
}

.filter__inner {
  font-size: 3rem;
  width: 100%;
  padding: 3rem 2rem;
  color: #fcebd5;
}

.filter__inner input {
  background-color: #a16a5e;
  outline: none;
  border: 1px solid #fcebd5;
  color: #edd5bb;
  width: 20rem;
  height: 4vh;
  border-radius: 0.3rem;
  margin-bottom: 5%;
  font-size: 2rem;
}

.filter__inner input::-webkit-input-placeholder {
  color: #fcebd5;
  font-size: 2rem;
  font-weight: 100;
}

.filter__inner input:-ms-input-placeholder {
  color: #fcebd5;
  font-size: 2rem;
  font-weight: 100;
}

.filter__inner input::-ms-input-placeholder {
  color: #fcebd5;
  font-size: 2rem;
  font-weight: 100;
}

.filter__inner input::placeholder {
  color: #fcebd5;
  font-size: 2rem;
  font-weight: 100;
}

.filter__inner select {
  background-color: #a16a5e;
  outline: none;
  border: 1px solid #fcebd5;
  color: #fcebd5;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
  width: 20rem;
  height: 4vh;
}

.filter__inner--title {
  margin-bottom: 3%;
}

.filter__inner--titleParagraph {
  color: #edd5bb;
  font-weight: 100;
  margin-bottom: 1%;
}

.filter__inner--artist {
  margin-top: 5%;
  font-weight: 100;
  padding-bottom: 1%;
}

.filter__inner--price {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 100;
}

.filter__inner--prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
}

.filter__inner--prices input {
  font-size: 2rem;
}

.filter__inner--type {
  margin-top: 10%;
  font-weight: 100;
  margin-bottom: 2%;
}

.filter__inner #filterSubmitBtn {
  position: fixed;
  bottom: 0%;
  right: 0%;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.filter__inner #filterSubmitBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.filter__inner .maxPriceDiv label,
.filter__inner .minPriceDiv label {
  margin-right: 1rem;
}

.filter__inner .horisontalLine {
  width: 100%;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: #fcebd5;
}

.filter__inner #filterByType {
  margin-bottom: 3rem;
}

.filterBack {
  position: absolute;
  top: 12%;
  right: 3%;
  font-size: 5rem;
  font-weight: 100;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #edd5bb;
  cursor: pointer;
}

.filterBack:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.filterBack:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.artistFirst {
  min-height: 100vh;
  background-color: #edd5bb;
}

.navbar,
.navbar2 {
  visibility: hidden;
  opacity: 0;
  height: 0vh;
  background-color: #a16a5e;
  width: 100%;
  position: fixed;
  top: 7vh;
  font-size: 4rem;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.navbar__list,
.navbar2__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.navbar__list--items--tag,
.navbar2__list--items--tag {
  display: block;
  color: #edd5bb;
  padding: 5%;
}

.navbar__list--items--tag:hover,
.navbar2__list--items--tag:hover {
  background-position: 100%;
  color: #a16a5e;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.navbar__list--items--tag:link, .navbar__list--items--tag:visited,
.navbar2__list--items--tag:link,
.navbar2__list--items--tag:visited {
  display: inline-block;
  font-weight: bold;
  color: #fcebd5;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #e09686 50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-size: 230%;
}

.hidden {
  height: 0vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.visible {
  height: 20vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.artContainer {
  max-height: 35vh;
  padding: 3rem;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stats__sold, .stats__total {
  width: 50%;
  height: 12vh;
  background-color: #a16a5e;
  padding: 2rem;
  font-size: 2rem;
  color: #fcebd5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.stats__sold__rate, .stats__total__rate {
  padding: 1rem;
  font-size: 6rem;
  font-weight: 600;
}

.stats__sold__title, .stats__total__title {
  font-weight: 300;
}

.stats__total {
  margin-left: 5%;
}

.stats__total__title {
  font-weight: 300;
}

.stats__total__rate {
  padding: 1rem;
  font-size: 6rem;
  font-weight: 600;
}

.liveAuct {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  background-color: #d44c2e;
  color: #fcebd5;
  padding: 2rem;
  margin-top: 3rem;
}

.liveAuct__title {
  font-weight: 300;
}

.liveAuct__price {
  font-size: 6rem;
  font-weight: 600;
  padding: 1rem;
}

.liveAuct__curBid {
  font-size: 3rem;
  font-weight: 300;
}

.historyChart {
  overflow-y: scroll;
  min-height: 30vh;
  background-color: #fcebd5;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  color: #a16a5e;
}

.history h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.history__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history__btns--7days, .history__btns--14days, .history__btns--1month, .history__btns--1year {
  color: #fcebd5;
  padding: 1rem 2.5rem;
  background-color: #a16a5e;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  margin-top: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.history__btns--7days:hover, .history__btns--14days:hover, .history__btns--1month:hover, .history__btns--1year:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.history__btns--7days:active, .history__btns--7days:focus, .history__btns--14days:active, .history__btns--14days:focus, .history__btns--1month:active, .history__btns--1month:focus, .history__btns--1year:active, .history__btns--1year:focus {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.itemPage {
  background-color: #edd5bb;
}

.itemPageContainer {
  margin-top: 5rem;
}

.itemPageContainer__addBtn {
  background-color: #fcebd5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #a16a5e;
  padding: 2rem 2rem;
}

.itemPageContainer__addBtn p {
  border: 2px dashed #a16a5e;
  padding: 5rem 14rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.itemPageContainer__addBtn p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.card {
  background-color: #fcebd5;
  color: #fcebd5;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 5rem;
  position: relative;
}

.card__inner {
  padding: 2rem 2rem;
}

.card__inner--artist {
  font-size: 4rem;
  font-family: "Reenie Beanie";
  font-weight: 500;
}

.card__inner--price {
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 16vh;
  height: 2.5vh;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.card__inner--title {
  font-size: 1.8rem;
  font-weight: 500;
}

.card__inner--desc {
  font-size: 1.6rem;
  white-space: pre-wrap;
}

.card__inner--itemTitle {
  font-size: 2rem;
  font-weight: 500;
}

.card__img {
  display: block;
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
  background-color: #a16a5e;
}

.card-btns .sendToAuctionBtn,
.card-btns .unpublishBtn,
.card-btns .removeBtn,
.card-btns .editBtn {
  background-color: #1b59ac;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card-btns .sendToAuctionBtn:hover,
.card-btns .unpublishBtn:hover,
.card-btns .removeBtn:hover,
.card-btns .editBtn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.card-btns .unpublishBtn {
  background-color: #1bac6f;
}

.card-btns .removeBtn {
  background-color: #d44c2e;
}

.card-btns .editBtn {
  background-color: #fcebd5;
  color: #a16a5e;
  font-weight: 600;
}

.priceTag {
  position: absolute;
  bottom: 40%;
}

#addNewItem {
  height: 100vh;
  background-color: #a16a5e;
  overflow: hidden;
}

.addItem {
  color: #fcebd5;
  font-size: 2.3rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  padding: 2.5rem;
}

.addItem input {
  outline: none;
  border: 1px solid #fcebd5;
  border-radius: 0.5rem;
  background-color: #a16a5e;
  margin: 1.2rem 0;
  height: 4rem;
}

.addItem textarea {
  background-color: #a16a5e;
  border: 1px solid #fcebd5;
  border-radius: 0.5rem;
}

.addItem select {
  background: #a16a5e;
  border: 1px solid #edd5bb;
  border-radius: 3px;
  width: 120%;
  height: 3vh;
  outline: none;
  color: #edd5bb;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 999;
  padding: 2px 0px 2px 5px;
}

.addItemTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container_addItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

.type_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addItemType,
.addItemPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figure {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  font-weight: 400;
  border: 2px dashed #fcebd5;
  border-radius: 1rem;
  position: relative;
}

figure figcaption {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 2rem;
}

i {
  font-size: 10rem;
}

.imageURL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imageURL p {
  text-align: center;
  margin: 1.5rem;
  font-size: 3rem;
}

.buttonsNewItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#addNewItemBtn,
#cancelNewItemBtn {
  background-color: #a16a5e;
  color: #fcebd5;
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  margin-top: 3rem;
  width: 100%;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

#addNewItemBtn:hover,
#cancelNewItemBtn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

#addNewItemBtn:active,
#cancelNewItemBtn:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

#addNewItemBtn {
  background-color: #d44c2e;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-right: 5%;
}

#cancelNewItemBtn {
  background-color: #fcebd5;
  color: #5a5a5a;
}

#checkPublish[type="checkbox"] {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.addItemTitle__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addItemTitle__input label {
  margin-right: 2rem;
}

.imageFromCamera {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top;
  background-size: cover;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 999;
  display: none;
}

#canvas {
  display: none;
}

#photo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.titleValidation {
  border: 1px solid #1b59ac !important;
}

.popupTitle,
.popupType,
.popupPrice,
.popupImg {
  position: absolute;
  margin-top: 7.5%;
  margin-left: 2%;
  color: #1b59ac;
  display: none;
  font-size: 1.8rem;
}

#auction {
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

.auction-container {
  height: 93vh;
  background-color: #fcebd5;
  font-size: 5rem;
}

#bidAmount {
  height: 3vh;
  outline: none;
  border: none;
  background: #a16a5e;
  border-radius: 0.5rem;
  border-bottom: 2px solid #f8f8f8;
  color: #f8f8f8;
}

#confirmBid {
  background-color: #a16a5e;
  color: #fcebd5;
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #d44c2e;
  color: #f8f8f8;
  margin-left: 3rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#confirmBid:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#confirmBid:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#itemOnAuction {
  margin-top: 5rem;
  padding: 3%;
  letter-spacing: 1px;
}

#itemOnAuction img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#itemOnAuction img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.bidding ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin-top: 3rem;
  color: #a16a5e;
  list-style-type: none;
}

.bidding ul li.my-bid {
  margin-right: 10rem;
}

.bidding ul li.his-bid {
  margin-left: 5rem;
}

.auctionItemArtist {
  font-size: 4rem;
  text-align: left;
  color: #a16a5e;
  font-weight: 400;
}

.itemStartingPrice {
  font-size: 2rem;
  color: #a16a5e;
  margin-top: 2rem;
}

.auctionItemTitle {
  font-size: 2rem;
  color: #5a5a5a;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.auctionTimer {
  color: #a16a5e;
  font-size: 3rem;
  position: absolute;
  border-radius: 1rem;
  top: 20%;
  right: 3%;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(224, 150, 134, 0.4);
          box-shadow: 0px 0px 5px 1px rgba(224, 150, 134, 0.4);
  padding: 0.5rem 1rem;
}

.auctionTitle p {
  display: inline-block;
  font-size: 5rem;
  color: #11376a;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 15rem;
  -webkit-box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
          box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
}

.bid-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auctionDone,
.whoWon {
  color: #a16a5e;
  font-size: 4rem;
  text-transform: uppercase;
}

.auctionDone {
  margin: 5rem 0 2rem 0;
}

section#camera-container {
  height: 100vh;
  background-color: #a16a5e;
  overflow: hidden;
}

section#camera-container .title {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcebd5;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9999;
}

section#camera-container .title h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  color: #a16a5e;
  font-weight: lighter;
  text-align: center;
}

section#camera-container .title .fa-bars {
  color: #a16a5e;
  font-size: 5rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

section#camera-container .title .fa-bars:hover {
  font-weight: 800;
  color: #81554b;
}

section#camera-container .title .fa-bars:active {
  font-weight: 100;
  color: #a16a5e;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

section#camera-container .title .hammer {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#camera-container .title .hammer:hover {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

section#camera-container .title .secondPageLogo {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 999;
}

section#camera-container .title .secondPageLogo .icon {
  width: 10vh;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section#camera-container .title .secondPageLogo .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#startButton,
#switchButton,
#retakePhoto,
#addToCardBtn {
  background-color: #fcebd5;
  color: #a16a5e;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  bottom: 10%;
}

#retakePhoto {
  left: 25%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#switchButton {
  left: 75%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#startButton {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#addToCardBtn {
  left: 50%;
  bottom: 23%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#startButton .fa-camera {
  padding: 3rem;
  -webkit-transform: translate(-28%, -28%) scale(0.4);
          transform: translate(-28%, -28%) scale(0.4);
}

.fa-retweet {
  padding: 3rem;
  -webkit-transform: translate(-30%, -28%) scale(0.4);
          transform: translate(-30%, -28%) scale(0.4);
}

.fa-plus {
  padding: 3rem;
  -webkit-transform: translate(-25%, -28%) scale(0.5);
          transform: translate(-25%, -28%) scale(0.5);
}

.retakePhoto,
.takePhoto,
.switchCamera,
.addToCard {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
}

.retakePhoto {
  left: 25%;
}

.switchCamera {
  left: 75%;
  text-align: center;
}

.addToCard {
  bottom: 20%;
}

.camera {
  display: block;
  margin-top: 8rem;
}

#canvas {
  margin-top: 8rem;
}

#photo {
  position: absolute;
  top: 30%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

@media (min-width: 125em) {
  html {
    font-size: 112.5%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a16a5e;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.hammer {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hammer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */
